<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="number" v-model.number="num">
    <table border="1">
        <tr v-for="i in num">
            <td v-for="j in i">{{j}}*{{i}}={{j*i}}</td>
        </tr>
    </table>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            num: 9
        }
    })
</script>
</body>
</html>